.return-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
}

.return-button:hover {
  background-color: #005f5f;
}
